.body [data-theme='dark'] {
    --body_background: black;
    --body_color: white;
  }
  
  .body [data-theme='light'] {
    --body_background: white;
    --body_color: black;
  }
  
  .body {
    background-color: var(--body_background);
    color: var(--body_color);
    font-family: 'Heebo', sans-serif;
    position: relative;
  }
  .sec1{
    background-image: url("../public/background.jpg");
    position: relative;
    /* height: 50%; */
  }
  .sec2{
    background-color: var(--body_background);
    color: var(--body_color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  .sec3{
    background-color: var(--body_background);
    color: var(--body_color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  .sec5{
    background-color: var(--body_background);
    color: var(--body_color);
  }
  
  .hmain{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .introd{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin: 2rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 55%;
    right: 70%;
  }
  .videodiv{
    position: relative;
    height: 90%;
    cursor: pointer;
    background-size: cover;
    background-image: url("../public/MayankM.jpeg");
    margin-left: 2rem;
    border-radius: 25% 10%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .griddiv{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
    margin: 1rem 10rem 0 10rem;
  }
  .aboutdiv{
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
  }
  .abouttext{
    width: 50%;
    margin-left: 2rem;
  }
  .formdiv{
    text-align: center;
    padding: 2rem 18rem;
  }
  .formmaindiv{
    padding: 3rem 1rem;
    background-color: var(--body_background);
    color: var(--body_color);
  }
  
  .feedbackinput {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:60%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedbackinput:focus { border:2px solid #CC4949; }
  
  /* textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  } */
  
  .submit{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 41%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:4px;
    font-weight:700;
  }
  .submit:hover { background:#CC4949; }
  .blogmaindiv{
    display: flex;
    justify-content: center;
    margin: 1rem 10rem;
  }
  
  .blogdiv{
    border-radius: 10px;
    margin-right: 1rem;
    height: 26rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .mainimg{
    position: relative;
  }
  .cardimg{
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .footerdiv{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
  }
  .copyrights{
    text-align: center;
    margin: 0 2rem;
  }
  .insta:hover{
    color: #CC4949;
    cursor: pointer;
  }
  .github:hover{
    color: green;
    cursor: pointer;
  }
  .facebook:hover{
    color: blue;
    cursor: pointer;
  }
  .scrollb{
    position: fixed;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
    color: var(--body_color);
    z-index: 1000;
  }
  .scrollb:hover{
    color: rgb(242, 91, 242);
  }
  
  @media screen and (max-width: 900px) {
    .introd{
      top: 55%;
      right: 0%;
    }
    .mainimg{
      margin-left: 14rem;
    }
    .aboutdiv{
      display: block;
    }
    .videodiv{
      display: none;
    }
    .abouttext{
      width: 90%;
      margin-left: 1rem;
    }
    .griddiv{
      margin: 0;
      display: block;
    }
    .formdiv{
      padding: 2rem 2rem;
    }
    .blogmaindiv{
      display: block;
      margin: 0;
    }
    .blogdiv{
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .footerdiv{
      display: block;
      text-align: center;
    }
    .copyrights{
      margin: 1rem 2rem;
    }
  }